<div class="col-md-6 offset-md-3"><h3> Update Product</h3>
  <form (ngSubmit) = "onSubmit()">

  <div class="form-group">
    <label> Name</label>
    <input type="text" class="form-control" id="name" [(ngModel)] = "product.name" name = "name">
  </div>

  <div class="form-group">
    <label> Description</label>
    <input type="text" class="form-control" id="description" [(ngModel)] = "product.description" name = "description">
  </div>

  <div class="form-group">
    <label>Sub Category</label>
    <input type="text" class="form-control" id="subCategory" [(ngModel)] = "product.subCategory" name = "subCategory">
  </div>
  <div class="form-group">
    <label>Unit price</label>
    <input type="text" class="form-control" id="unitPrice" [(ngModel)] = "product.unitPrice" name = "unitPrice">
  </div>

  <div class="form-group">
    <label>Stock</label>
    <input type="text" class="form-control" id="stock" [(ngModel)] = "product.stock" name = "stock">
  </div>
   <div  class="form-group" style="width: 100%; padding: 1em;margin-top: 1em;margin-bottom: 1em; text-align: left; border: 1px solid rgb(169, 169, 169);">
    <input type="radio"  name="rdoCategory"  checked="true" [(ngModel)] = "product.category" value="FOOTWEAR" disabled> FOOTWEAR
      <br>
    <input type="radio" name="rdoCategory" [(ngModel)] = "product.category" value="SEASONAL" disabled> SEASONAL
    <br>
    <input type="radio"  name="rdoCategory"  [(ngModel)] = "product.category" value="CLOTHING" disabled> CLOTHING
    <br>
     <input type="radio"  name="rdoCategory"  [(ngModel)] = "product.category" value="WELLNESS" disabled> WELLNESS
    <br>
    <input type="radio"  name="rdoCategory"  [(ngModel)] = "product.category" value="ACCESSORIES" disabled> ACCESSORIES
    <br>
    <input type="radio"  name="rdoCategory"   [(ngModel)] = "product.category" value="EQUIPMENT" disabled> EQUIPMENT
    <br>
  </div>


  <button class = "btn btn-success" type="submit">Submit</button>

  </form>

  </div>


