<h2>Document List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Emission Date</th>
            <th>Document Type</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor=" let d of documents">
            <td> {{d.id}} </td>
            <td> {{d.name}} </td>
            <td> {{d.address}} </td>
            <td> {{d.emissionDate | date}} </td>
            <td>{{d.type}}</td>
            <td>
                <button (click)="updateDocument(d.id)" class="btn btn-info">Update</button>
                <button (click)="viewDocumentDetails(d.id)" class="btn btn-success" style="margin-left: 10px">View</button>
            </td>
        </tr>
    </tbody>
</table>